/* CONFIGS */
:root{
    /* FONT-SIZE */
    --fs-title1: 56px;
    --fs-title2: 40px;
    --fs-title3: 36px;
    --fs-paragraph: 20px;
    --fs-btn: 18px;
    /* END FONT-SIZE */
}

/* FONT-SIZE */
.hc-fs-titile1 {
    font-size: var(--fs-title1);
}
.hc-fs-titile2 {
    font-size: var(--fs-title2);
}
.hc-fs-titile3 {
    font-size: var(--fs-title3);
}
.hc-fs-paragraph {
    font-size: var(--fs-paragraph);
}
.hc-fs-btn {
    font-size: var(--fs-btn);
}
/* END FONT-SIZE */

/* END CONFIGS */

/* BUTTON */
.hc-btn, .hcoutlineBtn {
    padding: 8px 48px;
}

.hc-outlineBtn:hover {
    background-color: #e5e5e5!important;
}

.hc-btn:hover{
    background-color: #1b1b1b!important;
}

.hc-outlineBtn:active {
    background-color: black !important;
    color: white !important;
}

.hc-btn:active{
    background-color: white !important;
    color: black !important;
}
/* END BUTTON */

